/* 
 * Responsive Style Sheet
 * Managing Breakpoints for different screen sizes
 */

/* Desktop Grid Override (Min-width) */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* --- Max-Width Breakpoints (Mobile Views) --- */

@media screen and (max-width: 1380px) {
    .custom-btn {
        padding: 11px;
    }

    .about-stats-header-box span {
        font-size: 30px;
        line-height: 38px;
    }

    .about-stats-header-box p {
        font-size: 18px;
        line-height: normal;
    }

    .client-wrapper {
        padding-block: 40px;
    }

    .section-heading h2 {
        font-size: 39px;
        line-height: 48px;
        margin-bottom: 10px;
    }

    .work-wrapper-icon svg {
        width: 200px;
        height: 200px;
    }

    .work-wrapper-content {
        padding-inline: 18%;
    }

    .product-list-image {
        width: 30px;
        height: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .product-list-content ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 0px;
        margin-bottom: 0px;
        margin-inline: -4px;
    }

    .product-list-content ul>li {
        width: 20%;
        flex: 0 0 auto;
        padding-inline: 4px;
    }
}

@media screen and (max-width: 1200px) {
    .preview-sub-heading {
        gap: 0px 10px;
        padding: 6px 23px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .slider-nav-box {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .slider-nav-box img {
        height: 40px;
    }

    .contact-cover-box {
        padding: 40px 32px;
    }

    .contact-form {
        padding: 24px 32px;
    }

    h1 {
        font-size: 49px;
        line-height: 58px;
        margin-bottom: 25px;
    }

    .banner-slider-box {
        padding-block: 40px;
    }

    .banner-heading p {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.26px;
        vertical-align: middle;
        color: #fff;
        margin-bottom: 20px;
    }

    span.banner-box-ixon {
        width: 20px;
        height: 20px;
    }

    .banner-services-box {
        font-size: 14px;
        line-height: normal;
    }

    span.banner-box-ixon svg {
        height: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 100% !important;
    }

    .section-heading h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 4px;
    }

    .product-btn-box {
        flex-direction: column;
        gap: 15px 0px;
    }

    a.custom-product-btn {
        width: 100%;
    }

    .preview-slider-box {
        height: auto;
    }

    .preview-wrapper-cover-box>.row {
        align-items: center;
    }

    .slider-nav-box {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    .slider-nav-list {
        padding: 8px 16%;
    }
}

@media screen and (max-width: 992px) {
    .desktop-container {
        display: none;
    }

    .mob-container {
        display: block;
    }

    .mobile-preview-cover {
        box-shadow: 0px 4px 15px 0px #0000000D;
        padding: 16px 12px;
        border-radius: 24px;
    }

    section.preview-wrapper {
        padding-block: 16px;
    }

    .mobile-preview-image img {
        width: 100%;
    }

    .mobile-preview-image {
        margin-bottom: 16px;
    }

    .mobile-preview-content .custom-btn.customBtn {
        width: 100%;
        margin-top: 16px;
    }

    .product-box-content h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 5px;
    }

    .product-list-image {
        width: 40px;
        height: 40px;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
    }

    .product-detail-list ul li p {
        font-size: 15px;
        line-height: normal;
    }

    .contact-wrapper-cover .col-12 {
        padding-inline: 0px;
    }

    .contact-cover-box {
        padding: 32px 24px;
        height: auto !important;
        border-radius: 24px;
        background-position: center top;
        margin-bottom: 24px;
    }

    .contact-cover-heading h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .contact-cover-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .contact-form {
        padding: 32px 24px;
        background-color: #fff;
        border-radius: 24px;
        box-shadow: 0px 4px 15px 0px #0000000D;
    }

    .contact-form-heading h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .contact-form-box .row {
        gap: 16px 0px;
    }

    .form-group.form-submit-contact {
        margin-top: 32px;
    }

    .poduct-range-containerBox .row>[class*="col-"] {
        width: 45%;
    }
}

@media screen and (max-width: 991px) {

    .about-stats-wrapper ul li:nth-child(3) .about-stats-header-box,
    .about-stats-wrapper ul li:nth-child(1) .about-stats-header-box,
    .about-stats-wrapper ul li:nth-child(2) .about-stats-header-box {
        justify-content: center;
    }

    .about-stats-header-box {
        flex-direction: column;
        text-align: center;
    }

    .about-stats-wrapper ul li:nth-child(3) {
        order: -1;
    }

    span.wok-step {
        display: none;
    }

    .col-12.col-sm-12.col-md-6.col-lg-6:has(.work-wrapper-image) {
        display: none;
    }

    .col-12.col-sm-12.col-md-6.col-lg-6:has(.work-wrapper-content) {
        width: 100%;
    }

    .work-wrapper-icon {
        display: none;
    }

    span.mobile-view-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #0B3C5D;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-bottom: 12px;
    }

    .section-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin-bottom: 4px;
    }

    .section-heading p {
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0%;
        color: #555555;
        margin-bottom: 15px;
    }

    .work-wrapper-content {
        padding-inline: 0px;
        box-shadow: 0px 4px 16px 0px #0000000D;
        background-color: #fff;
        padding: 16px 10px;
        border-radius: 12px;
        align-items: flex-start;
        text-align: left;
    }

    .work-wrapper-cover>.row>.col-12 {
        max-width: 50%;
    }

    .work-wrapper-cover>.row {
        gap: 30px 0px;
    }

    .why-choose-cover::before {
        display: none;
    }

    .why-choose-cover {
        background: transparent;
        padding: 0px;
        border-radius: 0px;
        position: relative;
    }

    .why-choose-cover>.row>.col-12 {
        width: 100%;
    }

    .why-choose-cover>.row {
        gap: 24px 0px;
    }

    .contact-wrapper-cover {
        padding: 16px !important;
        background-color: #0B3C5D;
    }

    .contact-cover-box {
        background: transparent;
    }

    .contact-headway-cover {
        display: none;
    }

    .contact-cover-box {
        background: transparent;
        height: auto;
        margin-bottom: 0px;
    }

    .contact-wrapper-cover .col-12 {
        padding-inline: 15px !important;
    }

    a.view-all-items {
        display: none;
    }

    .why-choose-box-cover>.row>.col-12 {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .banner-slider-box {
        background-image: url(../images/mobile-banner-image.png);
        background-position: top center;
    }

    .banner-heading {
        padding-top: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-logo {
        margin-bottom: 16px;
    }

    .banner-logo img {
        height: 45px;
    }

    h1 {
        font-size: 40px;
        line-height: 51px;
        margin-bottom: 21px;
    }

    .banner-heading p {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 16px;
    }

    .banner-services-box {
        font-size: 12px;
        line-height: normal;
    }

    .banner-services {
        margin-bottom: 36px;
    }

    .bulk-btn-box {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 30px;
    }

    /* Popup Responsive */
    .bulk-form-grid {
        grid-template-columns: 1fr !important;
        gap: 16px !important;
    }

    .bulk-form-group {
        width: 100% !important;
    }

    .bulk-form-group.full-width {
        grid-column: span 1 !important;
    }

    .bulk-popup-container {
        padding: 24px;
    }

    .popup-header-flex {
        flex-direction: column;
    }

    .popup-product-img-box {
        width: 100%;
    }

    .personalisation-inputs {
        grid-template-columns: 1fr;
    }

    .popup-footer {
        flex-direction: column;
    }

    .btn-bulk,
    .btn-add-cart {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .d-none-sm {
        display: none !important;
    }

    .text-center-sm {
        text-align: center !important;
    }

    .poduct-range-containerBox .row>[class*="col-"] {
        width: 85%;
    }
}

@media screen and (max-width: 575px) {
    .about-stats-header-box p {
        font-size: 15px;
        line-height: normal;
    }

    .about-stats-header-box span {
        font-size: 24px;
        line-height: 32px;
    }

    .about-stats-header-box p {
        font-size: 12px;
        line-height: normal;
    }

    .about-stats-wrapper ul {
        display: flex;
        flex-wrap: wrap;
        margin-inline: -7px;
        gap: 30px 0px;
    }

    .about-stats-wrapper ul li {
        width: 33.333%;
        flex: 0 0 auto;
        padding-inline: 7px;
    }

    .section-heading h2 {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 4px;
    }

    .contact-cover-box {
        height: 300px;
        padding: 24px 16px;
    }

    .contact-cover-heading h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .contact-form {
        padding: 24px 16px;
    }

    .contact-form-heading h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .contact-form-heading p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 24px;
    }

    .section-heading p {
        font-weight: 400;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0%;
        color: #555555;
        margin-bottom: 15px;
    }

    .work-wrapper-cover>.row>.col-12 {
        max-width: 100%;
    }

    h1 {
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 20px;
    }

    span.banner-box-ixon {
        display: none;
    }

    .banner-services-box {
        position: relative;
        padding-left: 13px;
    }

    .banner-services-box::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
    }

    .work-wrapper-cover>.row>.col-12 {
        max-width: 50%;
    }

    .work-wrapper-cover>.row>.col-12>.row,
    .work-wrapper-cover>.row>.col-12>.row>.col-12 {
        height: 100%;
    }

    .work-wrapper-content {
        padding-inline: 0px;
        box-shadow: 0px 4px 16px 0px #0000000D;
        background-color: #fff;
        padding: 16px 10px;
        border-radius: 12px;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
    }

    .work-wrapper-content h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.07px;
        color: #0E0101;
        margin-bottom: 12px;
    }

    .work-wrapper-content>p {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #454545;
    }
}

@media screen and (max-width: 500px) {
    .banner-btn-box .custom-btn {
        width: 100%;
    }

    .banner-btn-box {
        flex-direction: column;
        width: 100%;
    }

    .why-choose-box {
        background: #fff;
        box-shadow: 0px 4px 16px 0px #0000000D;
        height: 100%;
        border-radius: 12px;
        padding: 10px 18px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    span.why-choose-icon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #1F7A8B33;
        margin-bottom: 16px;
    }

    span.why-choose-icon svg {
        height: 24px;
    }
}